<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nongjang">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>농장</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seed">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>시장</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="town">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>마을</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="magazine">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>광장</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
