<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title> 프로필 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="home-container">
    <!-- 프로필 -->
    <ion-grid class="profile-container">
      <ion-row>
        <ion-col class="profile-wrapper">
          <ion-avatar>
            <ion-img src="../../assets/images/farmer.jpg" class="profile-avatar"></ion-img>
          </ion-avatar>
          <!-- 유저 이름 -->
          <ion-label class="profile-title-wrapper">
            <div class="profile-title">
              <h2> 김동인 </h2>
            </div>
            <!-- 유저 경력 -->
            <div class="profile-subtitle">
              <p class="text"> 경작 </p>
              <p class="figure">10일차</p>
            </div>
          </ion-label>
          <!-- 팔로워 정보 -->
          <div class="profile-follow-wrapper">
            <div class="post">
              <p class="figure"> 16</p>
              <p class="text">게시글</p>
            </div>
            <div class="follower">
              <p class="figure">5</p>
              <p class="text">패밀리</p>
            </div>
            <div class="following">
              <p class="figure"> 3</p>
              <p class="text">친구</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- 선택(버튼) -->
    <ion-grid class="selection-container">
      <div class="icon-wrapper">
        <ion-button shape="circle" color="light" (click)="onClickCategory()">
          <ion-icon slot="icon-only" name="nutrition-outline"></ion-icon>
        </ion-button>
        <ion-button shape="circle" color="light" (click)="onClickCategory()">
          <ion-icon slot="icon-only" name="leaf-outline"></ion-icon>
        </ion-button>
        <ion-button shape="circle" color="light" (click)="onClickCategory()">
          <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
        </ion-button>
        <ion-button shape="circle" color="light" (click)="onClickCategory()">
          <ion-icon slot="icon-only" name="basket-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-grid>
  </ion-grid>
</ion-content>
